sudo: required

language: go

services:
  - docker

os:
  - linux

go:
  - 1.7

before_install:
  - go get -u github.com/kardianos/govendor
  - govendor sync

script:
  - make coverage

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/6ded9a49eadd62bc59da
